

.container{
    max-width: 1200px;
    margin: 0 auto;
}


h2 {
    text-align: center;
    color: #224229;
}

h2 .active {
    color: green;
    font-weight: bold;
}

.checkout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.info, .order-summary {
    width: 48%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info h3 {
    color: green;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
}

.info label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.info input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info textarea {
    height: 80px;
}

.order-summary p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

.order-summary .total {
    color: green;
    font-size: 18px;
    font-weight: bold;
}



.payment label {
    display: block;
    margin: 10px 0;
}

.payment .note {
    font-size: 12px;
    color: gray;
    margin-left: 20px;
}

.checkout-btn {
    width: 100%;
    background: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.checkout-btn:hover {
    background: darkgreen;
}
